---
brief: True
details: True
implements: True
url_source: True
---

{# This template is used inside of member.py #}
{%- filter indent(config.get('indent_level', 0), True) -%}

### <code className="doc-symbol doc-symbol-{{node.kind.value}}"/> {{node.name_short}} [#{{node.name_short}}]

{% if node._overloads -%}
{%- for overload in node._overloads %}

{{overload | format_codeblock | use_code_language("cpp")}}

{%- if configMemDef.get('brief') -%}
{%- if overload.has_brief %}

{{overload._brief.plain() + "\n"}}
{%- endif -%}
{%- endif -%}

{%- if configMemDef.get('details') -%}
{%- if overload.has_details %}

{{overload.details | use_code_language("cpp")}}
{%- endif -%}
{%- endif -%}

{%- endfor -%}
{%- else -%}

{{node | format_codeblock | use_code_language("cpp")}}
{%- if configMemDef.get('brief') -%}
{%- if node.has_brief %}

{{node._brief.plain() + "\n"}}
{%- endif -%}
{%- endif -%}

{%- if configMemDef.get('details') -%}
{%- if node.has_details %}

{{node.details | use_code_language("cpp")}}
{%- endif -%}
{%- endif -%}
{%- endif -%}

{% endfilter %}