{%- filter indent(config.get('indent_level', 0), True) -%}
{# This template is used inside of member.py #}

{%- if node.has(visibility, kinds, static) -%}
{%- if parent is none -%}
**{{title}}:**
{%- else -%}
**{{title}} inherited from {{node.name}}:**

See [{{node.name_long}}]({{node.url}})
{%- endif %}

<table>
<thead>
   <tr>
      <th>Name</th>
      <th>Description</th>
   </tr>
</thead>
<tbody>
{%- with members = node.query(visibility, kinds, static) -%}
{%- if title == 'Functions' -%}
{%- set members = members | filter_functions -%}
{%- endif -%}
{%- for member in members %}
<tr key="{{ member.refid }}">
    <td>[`{{ member.name_short }}`](#{{member.name_short}})</td>
    <td>{{member._brief.plain()}}</td>
</tr>
{%- endfor -%}
{%- endwith %}
</tbody>
</table>

{%- endif -%}

{% endfilter %}