{%- if config.docstring_section_style == "table" %}

**{{ section.title or "Methods:" }}**

<table>
<thead>
   <tr>
      <th>Name</th>
      <th>Description</th>
   </tr>
</thead>
<tbody>
{%- for function in section.value %}
    <tr key="{{ loop.index }}-{{ function.name }}">
        <td>[`{{ function.name }}`](#{{ obj.path }}.{{ function.name }})</td>
        <td>{{ function.description }}</td>
    </tr>
{%- endfor -%}
</tbody>
</table>

{%- elif config.docstring_section_style == "list" %}

**{{ section.title or "Methods:" }}**
{% for function in section.value %}
- [**{{ function.name }}**](#{{ obj.path }}.{{ function.name }}) – {{ function.description }}
{%- endfor -%}
{%- endif -%}